@import '~bootstrap/scss/bootstrap';

body {
  background: linear-gradient(to right, rgb(68, 147, 209 ), rgb(209, 156, 68));
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

.status {
  font-size: 3rem;
  font-weight: bold;
}

.location {
  font-size: 2rem;
  font-weight: normal;
  margin-top: 10px;
}

.detail-section {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}

.detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-basis: 0;
  flex-grow: 1;
  padding: 20px;
}

.detail.bordered {
  border-left: 1px solid #777;
}

.detail .title {
  font-size: 2rem;
  flex-grow: 1;
  font-weight: bold;
  color: #black;
}

.detail .value {
  font-size: 2rem;
  margin-top: 20px;
}

.city-search-container {
  display: flex;
  justify-content: center;
  color: #455;
}

.city-search {
  margin-top: 40px;
  font-size: 2rem;
  outline: none;
  border: 2px solid #777;
  border-radius: 5px;
  padding: 10px 15px;
  width: 100%;
}